.step-line-editor {
    position: relative;
}

.row-error {
    background-color: #fff1f1 !important;
}

.row-error:hover {
    background-color: #ffe5e5 !important;
}

.slds-table_edit_container {
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
}

.slds-tree__item {
    display: flex;
    align-items: center;
}

/* Ensure the horizontal scroll works correctly with fixed layout */
.slds-table_fixed-layout {
    min-width: 800px;
}

.error-icon {
    cursor: help;
}

.slds-row-number::before {
    content: counter(row-counter);
}

tbody {
    counter-reset: row-counter;
}

tr {
    counter-increment: row-counter;
}

